PyQt5
boto3==1.5.9
botocore==1.8.23
certifi==2017.11.5
chardet==3.0.4
docutils==0.14
et-xmlfile==1.0.1
idna==2.6
jdcal==1.3
jmespath==0.9.3
numpy==1.14.0
openpyxl==2.4.9
pandas==0.22.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
s3transfer==0.1.12
six==1.11.0
urllib3==1.22
xlrd==1.1.0
